<!--sidebar-->
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed mi-sidebar-personalizado"
  id="sidebar"
  visible
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/images/FrontSun.webp',
      width: 143,
      height: 62,
      alt: 'suntravel Logo'
    }"
    [brandNarrow]="{
      src: 'assets/images/CirculoSun.png',
      width: 46,
      height: 46,
      alt: 'suntravel Logo'
    }"
    routerLink="./home"
  />

  <ng-scrollbar pointerEventsMethod="scrollbar">
    <div *ngFor="let item of navItems">
      <div class="item_nav" (click)="goRouter(item)" *ngIf="!item.children">
        <div class="content_item">
          <div class="content_icon">
            <mat-icon>{{item.iconComponent.name}}</mat-icon>
          </div>
          <div class="nav_name">{{item.name}}</div>
        </div>
      </div>
      <div class="item_nav" *ngIf="item.children" [ngClass]="{'selectChildren': item.divider}">
        <div class="content_item" (click)="toggleItem(item)">
          <div class="content_icon">
            <mat-icon>{{item.iconComponent.name}}</mat-icon>
          </div>
          <div class="nav_name">{{item.name}}</div>
          <mat-icon class="expand-icon" *ngIf="item.children && item.divider">expand_more</mat-icon>
        </div>
      </div>
      <div *ngIf="item.divider" class="children">
        <div *ngFor="let childItem of item.children" class="child-item">
          <div class="item_nav" (click)="goRouter(childItem)">
            <div class="content_item">
              <div class="content_icon">
                <mat-icon>{{childItem.iconComponent.name}}</mat-icon>
              </div>
              <div class="nav_name">{{childItem.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </ng-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  />
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="d-print-none header header-sticky" position="sticky" sidebarId="sidebar" />
  <!--app-body-->
  <div class="body flex-grow-1">
    <c-container breakpoint="lg" class="h-auto bodyConten">
      <router-outlet/>
    </c-container>
  </div>
</div>
