<mat-card class="contenCard">
  <mat-card-actions>
    <button mat-button (click)="back()" color="primary">Volver</button>
  </mat-card-actions>

  <mat-card-content>



    <form [formGroup]="serviceForm">

      <legend>servicio</legend>

      <div class="primeraFila">
        <div class="name">
          <mat-form-field appearance="outline" class="mat">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="serviceForm.get('name')?.invalid">Nombre is required</mat-error>
          </mat-form-field>
        </div>

        <div class="codigo">
          <mat-form-field appearance="outline" class="mat">
            <mat-label>Código</mat-label>
            <input matInput formControlName="codigo" />
            <mat-error *ngIf="serviceForm.get('codigo')?.invalid">Código is required</mat-error>
          </mat-form-field>
        </div>

        <div class="tipo">
          <mat-form-field appearance="outline" class="mat">
            <mat-label>Tipo de servicio</mat-label>
            <mat-select formControlName="tipoServicio" (ngModelChange)=" atributos($event)">
              <mat-option *ngFor="let item of tServicios" [value]="item.ID">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="serviceForm.get('tipoServicio')?.invalid">Tipo de servicio is required</mat-error>
          </mat-form-field>
        </div>

        <div class="estados">
          <mat-radio-group formControlName="estado" class="radioButtons">
            <mat-radio-button value="activo" checked>Activo</mat-radio-button>
            <mat-radio-button value="inactivo">Inactivo</mat-radio-button>
          </mat-radio-group>
        </div>

      </div>





      <div class="segundaFila">
        <div class="categoria">
          <mat-form-field appearance="outline" class="mat">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoria">
              <mat-option *ngFor="let item of categorias" [value]="item.ID">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="serviceForm.get('categoria')?.invalid">Categoría is required</mat-error>
          </mat-form-field>
        </div>

        <div class="destino">
          <mat-form-field appearance="outline" class="mat">
            <mat-label>Destino</mat-label>
            <mat-select formControlName="destino">
              <mat-option *ngFor="let item of destino" [value]="item.ID">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="serviceForm.get('destino')?.invalid">Destino is required</mat-error>
          </mat-form-field>
        </div>
        <div class="precio">
          <mat-form-field appearance="outline" class="mat">
            <mat-label>Precio adultos</mat-label>
            <input matInput formControlName="precio_adulto" type="text" prefix="$" mask="separator.0"
              thousandSeparator="." placeholder="$ 0.00" />
            <mat-error *ngIf="serviceForm.get('precio_adulto')?.invalid">Precio adultos is required</mat-error>
          </mat-form-field>
        </div>
        <div class="precio">
          <mat-form-field appearance="outline" class="mat">
            <mat-label>Precio niños</mat-label>
            <input matInput formControlName="precio_nino" type="text" prefix="$" mask="separator.0"
              thousandSeparator="." placeholder="$ 0.00" />
            <mat-error *ngIf="serviceForm.get('precio_nino')?.invalid">Precio niños is required</mat-error>
          </mat-form-field>
        </div>
      </div>




      <div class="terceraFila">
        <div class="Hora">
          <mat-form-field appearance="outline" class="matHora">
            <mat-label>Hora inicio</mat-label>
            <input matInput formControlName="hora_inicio" type="text" mask="hh:mm" placeholder="00:00" />
            <mat-error *ngIf="serviceForm.get('hora_inicio')?.invalid">Hora inicio is required</mat-error>
          </mat-form-field>
        </div>
        <div class="Hora">
          <mat-form-field appearance="outline" class="matHora">
            <mat-label>Duración</mat-label>
            <input matInput formControlName="duracion" type="text" mask="hh:mm" placeholder="00:00" />
            <mat-error *ngIf="serviceForm.get('duracion')?.invalid">Duración is required</mat-error>
          </mat-form-field>
        </div>
        <div class="lugar">
          <mat-form-field appearance="outline" class="mat">
            <mat-label>Lugar</mat-label>
            <input matInput formControlName="lugar" />
            <mat-error *ngIf="serviceForm.get('lugar')?.invalid">Lugar is required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="mat">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
            <mat-error *ngIf="serviceForm.get('descripcion')?.invalid">Descripción is required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="wrapper">
        <div class="box">
          <div class="input-bx">
            <h2 class="upload-area-title"> Subir*</h2>
            <input type="file" formControlName="galeria" id="upload" accept=".png, .jpg, .webp" multiple
              (change)="onFilesSelected($event)" hidden />
            <label for="upload" class="uploadlabel"
              [ngStyle]="{'border': serviceForm.get('galeria')?.invalid ? '3px dashed #f9000082' : ' 3px dashed #18a7ff82'}">
              <span class="icon">
                <mat-icon class="cloudIco">cloud_upload</mat-icon>
              </span>
              <p>Click to Upload</p>
            </label>
          </div>

          <!-- Muestra el mensaje de error -->
          <mat-error *ngIf="serviceForm.get('galeria')?.hasError('required')">Image is required</mat-error>
          <mat-error *ngIf="serviceForm.get('galeria')?.hasError('minImages')">Minimum of 6 images allowed</mat-error>
          <mat-error *ngIf="serviceForm.get('galeria')?.hasError('maxFileSize')">Total size of images cannot exceed 2
            MB</mat-error>

          <div id="filewrapper">
            <h3 class="uploaded">Uploaded Documents (Minimum of 6 images, maximum 2 MB)</h3>
            <div class="showfilebox" *ngFor="let item of selectedFilesView">
              <div class="left">
                <span class="filetype">{{item.type}}</span>
                <h3>{{item.name}}</h3>
              </div>
              <div class="right" (click)="removeImg(item)">
                <span>&#215;</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <legend>Atributos(Más información)</legend>
      <hr />

      <div class="masInfo">
        <div class="campoEdit" [hidden]="!isSalida_horarios">
          <span>Salida y horarios:</span>
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="salida_horariosEditor"> </ngx-editor-menu>
            <ngx-editor [editor]="salida_horariosEditor"
              [placeholder]="'Type here...'" formControlName="salida_horario"></ngx-editor>
          </div>
        </div>

        <div class="campoEditDos" [hidden]="!isRecomendaciones">
          <span>Recomendaciones:</span>
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="recomendacionesEditor"> </ngx-editor-menu>
            <ngx-editor [editor]="recomendacionesEditor"
              [placeholder]="'Type here...'" formControlName="recomendaciones"></ngx-editor>
          </div>
        </div>
      </div>

      <div class="masInfo">

        <div class="campoEdit" [hidden]="!isInformacion_Adicional">
          <span>Informacion Adicional:</span>
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="informacion_AdicionalEditor"> </ngx-editor-menu>
            <ngx-editor [editor]="informacion_AdicionalEditor"
              [placeholder]="'Type here...'" formControlName="informacion_Adicional"></ngx-editor>
          </div>
        </div>

        <div class="campoEditDos" [hidden]="!isTerminos_condiciones">
          <span>Terminos y condiciones:</span>
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="terminos_condicionesEditor"> </ngx-editor-menu>
            <ngx-editor [editor]="terminos_condicionesEditor"
              [placeholder]="'Type here...'" formControlName="terminos_condiciones"></ngx-editor>
          </div>
        </div>

      </div>


      <div class="masInfo">

        <div class="campoEdit" [hidden]="!isIncluye">
          <span>Incluye:</span>
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="incluyeEditor"> </ngx-editor-menu>
            <ngx-editor [editor]="incluyeEditor"  [placeholder]="'Type here...'"
              formControlName="incluye"></ngx-editor>
          </div>
        </div>

        <div class="campoEdit" [hidden]="!isNo_incluye">
          <span>No incluye:</span>
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="no_incluyeEditor"> </ngx-editor-menu>
            <ngx-editor [editor]="no_incluyeEditor"
              [placeholder]="'Type here...'" formControlName="no_incluye"></ngx-editor>
          </div>
        </div>

      </div>



    </form>




  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="isUpdate?updateServices():saveServices()"
      class="btnSave">{{isUpdate?"Actualizar":"Guardar"}}</button>
  </mat-card-actions>

</mat-card>


