<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <div class="buttomheader" style="display:flex; align-items: center;">

    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1 text-primary button_house"
      style="display: flex;"
    >
    <mat-icon style="color: #FEDD20;">menu</mat-icon>
    </button>

    <button
      [routerLink]="['/home']"
      toggle="visible"
      cHeaderToggler
      class="ps-1 text-primary button_house"
      style="display: flex;"
    >
    <mat-icon style="color: #FEDD20;"   fontIcon="home"></mat-icon>
    </button>
    </div>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
</ng-container>

<!--</c-header>-->

<ng-template #userDropdown>
  <span class="saludoSesion" style="margin: auto"> Hola, {{ namePerson }} </span>
  <c-dropdown alignment="end" variant="nav-item">
    <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/avatars/2.jpg"
        status="success"
      >
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <a routerLink="./" cDropdownItem (click)="logout()">
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Cerrar sección
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>
