<mat-card class="contenCard">

  <mat-card-content>

    <form [formGroup]="serviceForm">

        <legend>servicio</legend>

        <div class="primeraFila">
          <div class="name">
            <mat-form-field appearance="outline" class="mat">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
          </div>

          <div class="codigo">
            <mat-form-field appearance="outline" class="mat">
              <mat-label>Código</mat-label>
              <input matInput formControlName="codigo" />
            </mat-form-field>
          </div>

          <div class="tipo">
            <mat-form-field appearance="outline" class="mat">
              <mat-label>Tipo de servicio</mat-label>
              <mat-select formControlName="tipoServicio">
                <mat-option value="tours">Tours</mat-option>
                <mat-option value="transporte">Transporte</mat-option>
                <mat-option value="hospedaje">Hospedaje</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="estados">
            <mat-radio-group formControlName="estado" class="radioButtons">
              <mat-radio-button value="activo">Activo</mat-radio-button>
              <mat-radio-button value="inactivo">Inactivo</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>





        <div class="segundaFila">
          <div class="categoria">
            <mat-form-field appearance="outline" class="mat">
              <mat-label>Categoría</mat-label>
              <mat-select formControlName="categoria">
                <mat-option value="tours">Tours</mat-option>
                <mat-option value="transporte">Transporte</mat-option>
                <mat-option value="hospedaje">Hospedaje</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="destino">
            <mat-form-field appearance="outline" class="mat">
              <mat-label>Destino</mat-label>
              <input matInput formControlName="destino" />
            </mat-form-field>
          </div>
          <div class="precio">
            <mat-form-field appearance="outline" class="mat">
              <mat-label>Precio adultos</mat-label>
              <input matInput formControlName="precio_adulto" />
            </mat-form-field>
          </div>
          <div class="precio">
            <mat-form-field appearance="outline" class="mat">
              <mat-label>Precio niños</mat-label>
              <input matInput formControlName="precio_nino" />
            </mat-form-field>
          </div>
        </div>




        <div class="terceraFila">
          <div class="Hora">
            <mat-form-field appearance="outline" class="matHora">
              <mat-label>Hora inicio</mat-label>
              <input matInput formControlName="hora_inicio" type="time"/>
            </mat-form-field>
          </div>
          <div class="Hora">
            <mat-form-field appearance="outline" class="matHora">
              <mat-label>Duración</mat-label>
              <input matInput formControlName="duracion"  type="time"/>
            </mat-form-field>
          </div>
          <div class="lugar">
            <mat-form-field appearance="outline" class="mat">
              <mat-label>Lugar</mat-label>
              <input matInput formControlName="lugar" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat">
              <mat-label>Descripción</mat-label>
              <textarea matInput formControlName="descripcion"></textarea>
            </mat-form-field>
          </div>
          <!-- <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Adjuntar imágenes:</mat-label>
              <input type="file" formControlName="galeria" multiple />
            </mat-form-field>
          </div> -->
        </div>


        <legend>Atributos(Más información)</legend>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat">
              <mat-label>Salida y horarios:</mat-label>
              <textarea matInput formControlName="salida_horarios"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat">
              <mat-label>Recomendaciones:</mat-label>
              <textarea matInput formControlName="recomendaciones"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">

        </div>

    </form>




  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" (click)=" saveServices()">Guardar</button>
  </mat-card-actions>

</mat-card>
